body{
    background-color: rgb(123, 123, 182);
    font: normal 15pt Arial;
}

header{
    color: aliceblue;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.289);

}

#list{
    margin-top: 25px;
    width: 150px;
}

#res{
    margin-top: 20px;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}